body {
    background-color: #ffffff;
    font-size: 10pt;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    color: #000000;  
    margin: 10px;
}

.ui-widget {  
    font-size: 10pt !important;
}