<div xmlns="http://www.w3.org/1999/xhtml"
     xmlns:h="http://java.sun.com/jsf/html"
     xmlns:f="http://java.sun.com/jsf/core"
     xmlns:p="http://primefaces.org/ui"> 

    <p:ajaxStatus style="width:64px;height:64px;position:fixed;right:5px;bottom:5px" >  
        <f:facet name="start">  
            <p:graphicImage value="resources/images/loadingAjax.gif" />  
        </f:facet>  
        <f:facet name="complete">  
            <h:outputText value="" />  
        </f:facet>  
    </p:ajaxStatus>

    <p:panel>
        <h:outputText value="About Recomminer | UTFPR © 2015 | Contact us" escape="false"/>
    </p:panel>

</div>