<div xmlns="http://www.w3.org/1999/xhtml"
     xmlns:h="http://java.sun.com/jsf/html"
     xmlns:p="http://primefaces.org/ui" > 
    <h:form>
        <p:menubar>
            <p:submenu label="Miner" icon="ui-icon ui-icon-document" id="minerMenu">
            </p:submenu>
            <p:submenu label="Matrix" icon="ui-icon ui-icon-document" id="matrixMenu">
                <p:menuitem action="#{pagesManager.bichoMatrixCreateQueue()}" ajax="false" value="Create Queue (Bicho)" id="bichoMatrixCreateQueue" />
                <p:menuitem action="#{pagesManager.matrixView()}" ajax="false" value="View" id="matrixView" />
            </p:submenu>
            <p:submenu label="Metric" icon="ui-icon ui-icon-document" id="metricMenu">
                <p:menuitem action="#{pagesManager.bichoMetricCreateQueue}" ajax="false" value="Create Queue (Bicho)" id="bichoMetricCreateQueue" />
                <p:menuitem action="#{pagesManager.metricView}" ajax="false" value="View" id="metricView" />
            </p:submenu>
        </p:menubar>
    </h:form>
</div>