<div xmlns="http://www.w3.org/1999/xhtml"
     xmlns:h="http://java.sun.com/jsf/html"
     xmlns:f="http://java.sun.com/jsf/core"
     xmlns:p="http://primefaces.org/ui"
     xmlns:ui="http://java.sun.com/jsf/facelets" 
     xmlns:c="http://java.sun.com/jsp/jstl/core">

    <p:fieldset legend="Metrics calculation">
        <h:form prependId="false" id="formMetricQueue" >
            <p:growl globalOnly="true" id="messages" />

            <b><h:outputText value="Select a Matrix: " /></b>
            <p:selectOneListbox id="listMatrix" style="width: 100%;min-height:100px" value="#{bichoMetricQueueBean.matrixId}" >
                <f:selectItems value="#{bichoMatrixViewBean.matrices}" var="matrix" itemLabel="#{matrix.toString()}" itemDescription="#{matrix.toString()}" itemValue="#{matrix.id}" />
                <p:ajax process="@this" update="listServices matrixParamsUsed filter" />
            </p:selectOneListbox>
            <b><h:outputLabel for="matrixParamsUsed" value="Used params: " /></b>
            <h:outputText id="matrixParamsUsed" value="#{bichoMetricQueueBean.matrixParamsToString} empty?#{empty bichoMetricQueueBean.servicesClasses}" />
            <br/>
            <br/>
            <b><h:outputText value="Select a Metric Service Class: " /></b>
            <p:selectOneListbox id="listServices" style="width: 100%;min-height:100px" converter="#{bichoMetricQueueBean.converterClass}" value="#{bichoMetricQueueBean.serviceClass}"  >
                <f:selectItems value="#{bichoMetricQueueBean.servicesClasses}" var="serviceClass" itemLabel="#{serviceClass.simpleName}" itemDescription="#{serviceClass.name}" itemValue="#{serviceClass}" />
                <p:ajax process="@this" update="filter" />
            </p:selectOneListbox>
            <br/>
            <h:panelGroup id="filter">
                <c:if test="#{bichoMetricQueueBean.serviceClass != null}" >
                    <p:panel header="Filters for #{bichoMetricQueueBean.serviceClass.simpleName}:" >
                        <ui:include src="./filter/#{bichoMetricQueueBean.serviceClass.simpleName}.xhtml">
                            <ui:param name="bean" value="#{bichoMetricQueueBean}" />
                        </ui:include>
                    </p:panel>
                </c:if>
            </h:panelGroup>
            <br />
            <br />
            <h:panelGrid columns="2">

                <p:commandButton widgetVar="queueButtonVar"
                                 actionListener="#{bichoMetricQueueBean.queue()}"
                                 value="Queue"
                                 update="logTextArea" />

                <p:commandButton widgetVar="queueAllButtonVar"
                                 actionListener="#{bichoMetricQueueBean.queueAll()}"
                                 value="Queue All"
                                 update="logTextArea" />

                <p:commandButton widgetVar="queueForTrainButtonVar"
                                 actionListener="#{bichoMetricQueueBean.queueAllForTrain()}"
                                 value="Queue For Train"
                                 update="logTextArea" />

                <h:outputText />

                <p:commandButton widgetVar="queueForCurrentAndFutureVersionButtonVar"
                                 actionListener="#{bichoMetricQueueBean.queueForCurrentAndFutureVersion()}"
                                 value="Queue For Current and Future Version"
                                 update="logTextArea" />

                <p:commandButton widgetVar="queueAllForCurrentAndFutureVersionButtonVar"
                                 actionListener="#{bichoMetricQueueBean.queueAllForCurrentAndFutureVersion()}"
                                 value="Queue All For Current and Future Version"
                                 update="logTextArea" />

                <p:commandButton widgetVar="queueForCurrentAndFutureIndexButtonVar"
                                 actionListener="#{bichoMetricQueueBean.queueForCurrentAndFutureIndex()}"
                                 value="Queue For Current and Future Index"
                                 update="logTextArea" />

                <p:commandButton widgetVar="queueAllForCurrentAndFutureIndexButtonVar"
                                 actionListener="#{bichoMetricQueueBean.queueAllForCurrentAndFutureIndex()}"
                                 value="Queue All For Current and Future Index"
                                 update="logTextArea" />

                <p:commandButton widgetVar="queueAllButtonVar"
                                 actionListener="#{bichoMetricQueueBean.queueAllForAllVersion()}"
                                 value="Queue All For All Version"
                                 update="logTextArea" />

                <p:commandButton widgetVar="queueAllForAllMatrixButtonVar"
                                 actionListener="#{bichoMetricQueueBean.queueAllForAllMatrixIndex()}"
                                 value="Queue For Future Indexes"
                                 update="logTextArea" />
            </h:panelGrid>

            <h:panelGrid columns="5">
                <p:commandButton widgetVar="removeFirstFromQueueButtonVar"
                                 actionListener="#{bichoMetricQueueBean.removeFirstFromQueue()}"
                                 value="Remove First"
                                 update="logTextArea" />

                <p:commandButton widgetVar="removeLastFromQueueButtonVar"
                                 actionListener="#{bichoMetricQueueBean.removeLastFromQueue()}"
                                 value="Remove Last"
                                 update="logTextArea" />

                <p:commandButton widgetVar="showQueueButtonVar"
                                 actionListener="#{bichoMetricQueueBean.showQueue()}"
                                 value="Show Queue"
                                 update="logTextArea" />

                <p:commandButton widgetVar="clearQueueButtonVar"
                                 actionListener="#{bichoMetricQueueBean.clearQueue()}"
                                 value="Clear Queue"
                                 update="logTextArea" />

                <p:commandButton widgetVar="startQueueButtonVar" actionListener="#{bichoMetricQueueBean.startQueue()}" value="Start Queue"
                                 onclick="startButtonVar.disable();progressVar.start();textAreaUpdaterVar.start();" update="loadingImage,logTextArea" />
            </h:panelGrid>
            <br />
            <br />

            <p:progressBar id="progress" widgetVar="progressVar" ajax="true" value="#{bichoMetricQueueBean.progress}" labelTemplate="{value}%" styleClass="animated" interval="3000" >
                <p:ajax event="complete" listener="#{bichoMetricQueueBean.onComplete()}" update="messages,loadingImage,logTextArea" oncomplete="startButtonVar.enable();textAreaUpdaterVar.stop();"/>
            </p:progressBar>

            <br />
            <div style="margin: auto;text-align: center">
                <p:outputPanel  id="loadingImage"  >
                    <p:graphicImage alt="Loading..." width="50" url="resources/images/loading.gif" rendered="#{bichoMetricQueueBean.initialized}" />
                </p:outputPanel>
            </div>
            <br />

            <p:poll id="textAreaUpdater" widgetVar="textAreaUpdaterVar" async="true" interval="4"
                    update="logTextArea,loadingImage,progress"
                    stop="#{!bichoMetricQueueBean.initialized}"
                    autoStart="#{bichoMetricQueueBean.initialized}" />

            <h3>Log:</h3>
            <br />
            <p:inputTextarea value="#{bichoMetricQueueBean.log}" id="logTextArea" style="width: 100%" rows="30" autoResize="autoResize" readonly="true" />

        </h:form>

    </p:fieldset>
</div>