<div xmlns="http://www.w3.org/1999/xhtml"
     xmlns:h="http://java.sun.com/jsf/html"
     xmlns:f="http://java.sun.com/jsf/core"
     xmlns:p="http://primefaces.org/ui">

    <p:fieldset legend="Calculated metrics based on matrix">
        <h:form prependId="false" >
            <h:outputText value="#{bichoMetricViewBean.reloadList()}" />
        </h:form>

        <h:form prependId="false" >
            <p:growl globalOnly="true" id="messages" />
            <p:commandButton onclick="PrimeFaces.monitorDownload(start, stop)" ajax="false" value="Download all CSV">
                <p:fileDownload value="#{bichoMetricViewBean.downloadAllCSV()}" />
            </p:commandButton>
            <p:commandButton onclick="PrimeFaces.monitorDownload(start, stop)" ajax="false" value="Download all CSV Not Empty In Folder">
                <p:fileDownload value="#{bichoMetricViewBean.downloadAllCSVNotEmptyInFolder()}" />
            </p:commandButton>
            <p:commandButton onclick="PrimeFaces.monitorDownload(start, stop)" ajax="false" value="Download all CSV Not Empty In Folder Custom">
                <p:fileDownload value="#{bichoMetricViewBean.downloadAllCSVNotEmptyInFolderCustom()}" />
            </p:commandButton>
            <p:commandButton onclick="PrimeFaces.monitorDownload(start, stop)" ajax="false" value="Download all CSV Not Empty In Folder One File Per Rank">
                <p:fileDownload value="#{bichoMetricViewBean.downloadAllCSVNotEmptyInFolderPerRankOnlyTrainFile()}" />
            </p:commandButton>
            <p:commandButton  icon="ui-icon-trash" value="Delete All"
                              actionListener="#{bichoMetricViewBean.addForDeleteInSession(metric)}"
                              oncomplete="PF('confirmationDeleteAll').show()" />
            <p:dataTable var="metric" value="#{bichoMetricViewBean.metrics}" id="list" rows="10" lazy="false"
                         emptyMessage="No calculated metrics found." paginator="true" paginatorPosition="bottom"
                         paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                         rowsPerPageTemplate="10,25,50,100" style="width: 100%">

                <p:column headerText="ID">
                    <h:outputText value="#{metric.id}" />
                </p:column>

                <p:column headerText="Repository">
                    <h:outputText value="#{metric.matrix.toString()}" />
                </p:column>

                <p:column headerText="Class Service">
                    <h:outputText value="#{metric.classServicesSingleName}" />
                </p:column>

                <p:column headerText="Started" >
                    <h:outputText value="#{metric.started}" >
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:outputText>
                </p:column>

                <p:column headerText="Stoped" >
                    <h:outputText value="#{metric.stoped}" >
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:outputText>
                </p:column>

                <p:column headerText="Completed">
                    <h:outputText value="#{metric.complete}" />
                </p:column>

                <p:column headerText="Download Files">
                    <p:commandButton action="#{bichoMetricViewBean.downloadLOG(metric)}" ajax="false" value="Log"/>
                    <p:commandButton action="#{bichoMetricViewBean.downloadCSV(metric)}" ajax="false" value="CSV" title="#{metric}"/>
                    <p:commandButton action="#{bichoMetricViewBean.downloadAllCSVOfOneVersion(metric.matrix.toString())}" ajax="false" value="All CSV" title="#{metric}"/>
                    <p:commandButton action="#{bichoMetricViewBean.downloadParams(metric)}"  ajax="false" value="Params" title="#{metric.params}"/>
                </p:column>

                <p:column headerText="Options">
                    <p:commandButton  icon="ui-icon-trash" title="Delete this Metric"  actionListener="#{bichoMetricViewBean.addForDeleteInSession(metric)}"
                                      oncomplete="PF('confirmation').show()" />
                </p:column>
            </p:dataTable>

            <p:confirmDialog  id="confirmDelete" widgetVar="confirmation"
                              message="Really delete this metric?" header="Confirmation"
                              severity="alert">
                <p:commandButton value="Yes" id="confirmYes" update="list messages" oncomplete="PF('confirmation').hide()" style="position: relative;left: 80px"
                                 actionListener="#{bichoMetricViewBean.delete()}">
                </p:commandButton>
                <p:commandButton value="No" id="confirmNo" oncomplete="PF('confirmation').hide()" style="position: relative;left: 80px"
                                 actionListener="#{bichoMetricViewBean.removeFromSession()}"/>
            </p:confirmDialog>

            <p:confirmDialog  id="confirmDeleteAll" widgetVar="confirmationDeleteAll"
                              message="Really delete all metrics?" header="Confirmation"
                              severity="alert">
                <p:commandButton value="Yes" update="list messages" oncomplete="PF('confirmationDeleteAll').hide()" style="position: relative;left: 80px"
                                 actionListener="#{bichoMetricViewBean.deleteAll()}" />
                <p:commandButton value="No" oncomplete="PF('confirmationDeleteAll').hide()" style="position: relative;left: 80px"/>
            </p:confirmDialog>
        </h:form>
    </p:fieldset>
</div>