<div xmlns="http://www.w3.org/1999/xhtml"
     xmlns:h="http://java.sun.com/jsf/html"
     xmlns:f="http://java.sun.com/jsf/core"
     xmlns:p="http://primefaces.org/ui"
     xmlns:ui="http://java.sun.com/jsf/facelets" 
     xmlns:c="http://java.sun.com/jsp/jstl/core">

    <p:fieldset legend="Matrix generation">
        <h:form prependId="false" id="formMatrixQueue" >
            <p:growl globalOnly="true" id="messages" />

            <b><h:outputText value="Select a Repository: " /></b>  
            <p:selectOneListbox  id="repositories" style="width: 100%;min-height:100px" value="#{bichoMatrixQueueBean.repositoryId}"  >
                <f:selectItems value="#{bichoMinerRepositoryBean.allRepositories}" var="repo" itemLabel="#{repo} (issues / vcs)" itemDescription="#{repo}" itemValue="#{repo}" />
                <p:ajax event="change" process="@this" />
            </p:selectOneListbox>

            <br />

            <b><h:outputText value="Select a Matrix Service Class: " /></b>  
            <p:selectOneListbox id="serviceClass" style="width: 100%;min-height:100px" converter="#{bichoMatrixQueueBean.converterClass}" value="#{bichoMatrixQueueBean.serviceClass}" >
                <f:selectItems value="#{bichoMatrixQueueBean.servicesClasses}" var="serviceClass" itemLabel="#{serviceClass.simpleName}" itemDescription="#{serviceClass.name}" itemValue="#{serviceClass}" />
                <p:ajax event="change" process="@this" update="matrixFilter" />
            </p:selectOneListbox>

            <br />
            <br />
            <h:panelGroup id="matrixFilter">
                <c:if test="#{bichoMatrixQueueBean.serviceClass != null}" >
                    <p:panel header="Filters for #{bichoMatrixQueueBean.serviceClass.simpleName}:" >
                        <ui:include src="./filter/#{bichoMatrixQueueBean.serviceClass.simpleName}.xhtml">
                            <ui:param name="bean" value="#{bichoMatrixQueueBean}" />
                        </ui:include>
                    </p:panel>
                </c:if>
            </h:panelGroup>
            <br />
            <br />

            <p:commandButton widgetVar="queueButtonVar" actionListener="#{bichoMatrixQueueBean.queue()}" value="Queue"
                             update="logTextArea" />

            <p:commandButton widgetVar="queueAllProjectsButtonVar" actionListener="#{bichoMatrixQueueBean.queueAllProjects()}" value="Queue All Projects"
                             update="logTextArea" />

            <p:commandButton widgetVar="queueAllVersionsButtonVar" actionListener="#{bichoMatrixQueueBean.queueAllVersions()}" value="Queue All"
                             update="logTextArea" />

            <p:commandButton widgetVar="showQueueButtonVar" actionListener="#{bichoMatrixQueueBean.showQueue()}" value="Show Queue"
                             update="logTextArea" />

            <p:commandButton widgetVar="removeLastFromQueueButtonVar" actionListener="#{bichoMatrixQueueBean.removeLastFromQueue()}" value="Remove Last"
                             update="logTextArea" />

            <p:commandButton widgetVar="removeLastFromQueueButtonVar" actionListener="#{bichoMatrixQueueBean.removeFirstFromQueue()}" value="Remove First"
                             update="logTextArea" />

            <p:commandButton widgetVar="clearQueueButtonVar" actionListener="#{bichoMatrixQueueBean.clearQueue()}" value="Clear Queue"
                             update="logTextArea" />

            <p:commandButton widgetVar="startQueueButtonVar" actionListener="#{bichoMatrixQueueBean.startQueue()}" value="Start Queue"
                             onclick="startButtonVar.disable();progressVar.start();textAreaUpdaterVar.start();" update="loadingImage,logTextArea" />

            <br />
            <br />

            <p:progressBar id="progress" widgetVar="progressVar" ajax="true" value="#{bichoMatrixQueueBean.progress}" labelTemplate="{value}%" styleClass="animated" interval="3000" >
                <p:ajax event="complete" listener="#{bichoMatrixQueueBean.onComplete()}" update="messages,loadingImage,logTextArea" oncomplete="startButtonVar.enable();textAreaUpdaterVar.stop();"/>
            </p:progressBar>

            <br />
            <div style="margin: auto;text-align: center">
                <p:outputPanel  id="loadingImage"  >
                    <p:graphicImage alt="Loading..." width="50" url="resources/images/loading.gif" rendered="#{bichoMatrixQueueBean.initialized}" />
                </p:outputPanel>
            </div>
            <br />

            <p:poll id="textAreaUpdater" widgetVar="textAreaUpdaterVar" async="true" interval="4" 
                    update="logTextArea,loadingImage,progress"
                    stop="#{!bichoMatrixQueueBean.initialized}"
                    autoStart="#{bichoMatrixQueueBean.initialized}" />

            <h3>Log:</h3>
            <br />
            <p:inputTextarea value="#{bichoMatrixQueueBean.log}" id="logTextArea" style="width: 100%" rows="30" autoResize="autoResize" readonly="true" />

        </h:form>
    </p:fieldset>
</div>