<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"> 

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <h:outputStylesheet name="cssLayout.css" library="css" />
        <h:outputStylesheet name="default.css" library="css" />
        <title>Recomminer Web</title>
    </h:head>

    <h:body>
        <div id="geral">
            <div id="header">
                <ui:insert name="header">Cabeçalho</ui:insert>
            </div>

            <div id="body" class="center_content">
                <ui:insert name="body">Conteudo</ui:insert>
            </div>

            <div id="footer">
                <ui:insert name="footer">Rodape</ui:insert>
            </div>
        </div>
    </h:body>

</html>
