<div xmlns="http://www.w3.org/1999/xhtml"
     xmlns:h="http://java.sun.com/jsf/html"
     xmlns:p="http://primefaces.org/ui">
    
    <h:panelGrid columns="2" cellpadding="5" columnClasses="col">
    </h:panelGrid>
    
</div>

