<div class="bs-password-evaluator">
    <div class="highlight" ng-controller="passwordController">
        <form class="form-horizontal" >
            <div class="form-group">
                <label class="sr-only" for="input-password">Senha</label>
                <input type="password" id="input-password" class="form-control"
                       placeholder="Senha" ng-model="password" ng-keyup="evaluatePassword()" />
            </div>
            <div class="form-group">
                <div class="pull-xs-left">
                    <span class="label label-default">{{score}}%</span>
                    <span ng-class="classForScoreLabel()">{{scoreLabel()}}</span>
                </div>
            </div>
        </form>
        <section class="example">
            <div class="section-container">
                <h4 class="sub-title">Example B</h4>
                <p>The data source is a function that pulls in sample data from <a href="https://restcountries.eu/">REST Countries<span class="fa fa-external-link"></span></a>.</p>
                <div id="container2"></div>
                <p><a href="https://github.com/mynameistechno/finderjs/blob/master/example/example-async.js"><span class="fa fa-code"></span>View source</a></p>
            </div>
        </section>
    </div>
</div>