<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./template/DefaultTemplate.xhtml">

    <ui:define name="header">
        <ui:include src="#{pagesManager.header}"></ui:include>
    </ui:define>

    <ui:define name="body">
        <ui:include src="#{pagesManager.body}"></ui:include>
    </ui:define>

    <ui:define name="footer">
        <ui:include src="#{pagesManager.footer}"></ui:include>
    </ui:define>

</ui:composition>
