<div xmlns="http://www.w3.org/1999/xhtml"
     xmlns:h="http://java.sun.com/jsf/html"
     xmlns:f="http://java.sun.com/jsf/core"
     xmlns:p="http://primefaces.org/ui">

    <p:fieldset legend="Repository registering">
        <h:form prependId="false" >
            <p:growl globalOnly="true" id="messages" />
            <h:panelGrid columns="3" cellpadding="2">
                <h:outputLabel for="repositoryName" value="Name of Repository:"/>
                <p:inputText value="#{gitMinerRepositoryBean.repositoryName}" label="repositoryName" id="repositoryName"   />
                <p:message for="repositoryName" />
                <h:outputLabel for="repositoryOwner" value="Login of Owner:"/>
                <p:inputText value="#{gitMinerRepositoryBean.repositoryOwner}" label="repositoryOwner" id="repositoryOwner"  />
                <p:message for="repositoryOwner"  />
                <br />
                <h:outputText>or</h:outputText>
                <br />
                <h:outputLabel for="repositoryUrl" value="URL for repository:"/>
                <p:inputText value="#{gitMinerRepositoryBean.repositoryUrl}" label="repositoryUrl" id="repositoryUrl" style="width: 400px" />
                <p:message for="repositoryUrl"  />
                <br />
                <br />
                <p:commandButton id="startButton" value="Go Miner" ajax="false"
                                 actionListener="#{gitMinerRepositoryBean.goMiner}" >
                </p:commandButton>
            </h:panelGrid>
        </h:form>
        <br />
        <br />
        <h:form id="formDatailsRepo">  
            <p:dataList value="#{gitMinerRepositoryBean.repositoriesPrimaryMiner}" var="repo" 
                        id="minerated-repos" paginator="true" rows="5" 
                        paginatorTemplate="{PreviousPageLink} {CurrentPageReport} {NextPageLink} {RowsPerPageDropdown}"  
                        rowsPerPageTemplate="5,10,15" type="none">  

                <f:facet name="header">  
                    Repositórios já minerados:
                </f:facet>  

                <p:column>  
                    <p:commandButton icon="ui-icon-search" update=":formDatailsRepo:repoDetail" oncomplete="repoDialog.show()" title="View Detail" style="margin-bottom: 3px">  
                        <f:setPropertyActionListener value="#{repo}" target="#{gitMinerRepositoryBean.repositorySelected}" />  
                    </p:commandButton>  

                    <label>
                        #{repo.name}, #{repo.owner.login}, <a href="#{repo.svnUrl}" target="_blank" >#{repo.svnUrl}</a>
                    </label>
                    <br />
                </p:column>  

            </p:dataList>

            <p:dialog header="Repository Detail" widgetVar="repoDialog" modal="true" showEffect="fade">  
                <p:outputPanel id="repoDetail" layout="block">  

                    <h:panelGrid  columns="2" cellpadding="5">  
                        <h:outputLabel for="repoName" value="Name: " style="font-weight:bold" />
                        <h:outputText id="repoName" value="#{gitMinerRepositoryBean.repositorySelected.name}" />  

                        <h:outputLabel for="repoOwner" value="Owner: " style="font-weight:bold" />
                        <h:outputText id="repoOwner" value="#{gitMinerRepositoryBean.repositorySelected.owner.login}" />  

                        <h:outputLabel for="repoCreatedAt" value="Created at: " style="font-weight:bold" />  
                        <h:outputText id="repoCreatedAt" value="#{gitMinerRepositoryBean.repositorySelected.createdAt}" />  

                        <h:outputLabel for="repoParent" value="Parent: " style="font-weight:bold" />  
                        <h:outputText id="repoParent" value="#{gitMinerRepositoryBean.repositorySelected.parent.name}" />  

                        <h:outputLabel for="repoSource" value="Source: " style="font-weight:bold;" />  
                        <h:outputText id="repoSource" value="#{gitMinerRepositoryBean.repositorySelected.source.name}" />  

                        <h:outputLabel for="repoGitUrl" value="Git URL: " style="font-weight:bold" />  
                        <h:outputText id="repoGitUrl" value="#{gitMinerRepositoryBean.repositorySelected.gitUrl}" />  
                    </h:panelGrid>  
                </p:outputPanel>  
            </p:dialog> 
        </h:form>
    </p:fieldset>
</div>